.container {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
}
.container input {
  border: none;
  border-bottom: 1px solid grey;
  margin: 10px 20px;
}
input:focus {
  outline: none;
}
.container button {
  border: none;
  background-color: cornflowerblue;
  padding: 5px 10px;
  cursor: pointer;
  color: aliceblue;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
}
